/**
 * @name Material You
 * @author ShiroKzn
 * @version 1.1.0
 * @description A Material You Colors Discord Theme implementation with Midnight Base UI.
 * @source https://github.com/ShiroKazane/MaterialYou
*/

/* Imports */
@import url('https://ShiroKazane.github.io/MaterialYou/main.theme.css');

/* Variables */
:root {
    /*
     * Select which hue of color you want Discord to be themed in.
     * You can select a hue by going to https://htmlcolorcodes.com/color-picker/,
     * selecting a color, then copying the "H" value and pasting it in below.
     * range: 0.0-360.0
     */
    --background-hue: 19;

    /* suggested range: 0.5-10.0 */
    --background-saturation: 1.0;

    /* suggested range: 0.8-2.5 */
    --background-lightness: 1.0;

    /* suggested range: 0.5-2.0 */
    --link-lightness: 1.5;

    /* suggested range: 0.7-1.2 */
    --ui-lightness: 1.0;

    /*
     * other things
     */

    --corner-text: 'nightcord';

    --divider-thickness: 3px;

    /* color of status indicators and window controls */
    --online-indicator: hsl(92, 28%, 65%); /* change to #23a55a for default green */
    --dnd-indicator: hsl(354, 42%, 56%); /* change to #f23f43 for default red */
    --idle-indicator: hsl(40, 71%, 73%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(311, 20%, 63%); /* change to #593695 for default purple */

      /* amount of spacing and padding */
    --spacing: 12px;

    /* animations */
    /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
    --list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
    --unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
    --moon-spin-transition: 0.4s ease; /* moon icon spin */
    --icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

    /* corner roundness (border-radius) */
    --roundness-xl: 22px; /* roundness of big panel outer corners */
    --roundness-l: 20px; /* popout panels */
    --roundness-m: 16px; /* smaller panels, images, embeds */
    --roundness-s: 12px; /* members, settings inputs */
    --roundness-xs: 10px; /* channels, buttons */
    --roundness-xxs: 8px; /* searchbar, small elements */

    --banner-roundness: 22px 22px 0 0; /* server banner corner, 0 for bottom */

    /* direct messages moon icon */
    /* change to block to show, none to hide */
    --discord-icon: none; /* discord icon */
    --moon-icon: block; /* moon icon */
    --moon-icon-url: url('https://ShiroKazane.github.io/MaterialYou/assets/moon.svg'); /* custom icon url */
    --moon-icon-size: auto;

    /* filter uncolorable elements to fit theme */
    /* (just set to none, they're too much work to configure) */
    --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
    --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
    --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */

    /* choose style for window control buttons (minimize-maximize-close) */
    /* block to show, none to hide; choose only one to show!*/
    --windows-nav: none; /* default windows-style buttons */
    --custom-nav: block; /* custom mac-style buttons */
}